<style type="text/css">
	.body{
		min-height: 70vh;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 1rem;
		align-items: center;
	}
	.google{
		width: 200px;
		margin: auto;
		text-align: center;
		text-decoration: none;
		color: white;
	}
	input[type=text]{
		width: 290px;
		padding: .3rem;
		border: 2px solid darkcyan;
		border-radius: 5px;
	}
	input[type=password]{
		width: 290px;
		padding: .3rem;
		border: 2px solid darkcyan;
		border-radius: 5px;
	}
	input[type=email]{
		width: 290px;
		padding: .3rem;
		border: 2px solid darkcyan;
		border-radius: 5px;
	}
</style>